<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="json-store-root" value="~/scripts/json/" />
  </appSettings>
  <connectionStrings>
    <add name="JsonStore.Models.Properties.Settings.NewsletterConnectionString"
        connectionString="Data Source=WN-ITDEV-LT08;Initial Catalog=Newsletter;User ID=mykeels"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" userName="wakanowhotelextranet@gmail.com" password="Wakan0w736" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>