@using Extensions
@using Extensions.Models

@{
    Layout = "~/Views/Shared/EditLayout.cshtml";
    ViewBag.Title = "Change Password";
}

@section head {
    <link href="~/Content/login.css" rel="stylesheet" />
    <style>
        body, html {
            background-image: none;
        }

        .card {
            background: none;
            margin: 0px;
            border: none;
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            min-width: 70%;
        }
    </style>
}

@section scripts {
    <script>

    </script>
}

<form id="form1" action="~/edit/changepassword" method="post">
    <div>
        <div class="container">
            <div class="card card-container">
                <h2 id="profile-name" class="profile-name-card text-left">Change Password</h2>
                <div class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    @if (!((Generics.Models.User)ViewData["current-user"]).IsReset)
                    {
                        <div class="form-group">
                            <label>Old Password:</label>
                            <input id="password1" name="oldPassword" type="password" class="form-control"
                                   placeholder="Old Password" onkeyup="doText(this)">
                        </div>
                    }

                    <div class="form-group">
                        <label>New Password:</label>
                        <input id="password2" name="newPassword" type="password" class="form-control" placeholder="New Password" onkeyup="doText(this)" required>
                    </div>

                    <div class="form-group">
                        <label>Confirm New Password:</label>
                        <input id="password3" name="newPassword2" type="password" class="form-control" placeholder="Confirm New Password" onkeyup="doText(this)" required>
                    </div>

                    <p>
                        <input type="submit" name="submit-button" value="Change Password" onsubmit="return (document.getElementById('password2').value == document.getElementById('password3').value) && !String.isNullOrEmpty(document.getElementById('password2').value)" class="btn btn-lg btn-primary btn-block btn-signin">
                    </p>

                    <p class="text-center alert-danger">@ViewData["error-message"]</p>

                    <p class="text-center alert-success">@ViewData["success-message"]</p>

                </div>
            </div>
        </div>
    </div>
</form>